{% if __SELF__.isSearch and __SELF__.minSearchResults %}
    <aside id='{{ __SELF__ }}-search'>

        <form>
            <input type='text' id='{{ __SELF__.id }}' name='q' placeholder='{{ __SELF__.searchPlaceholder }}' value='{{ __SELF__.searchQuery }}'>
            <button type='submit'><label for='{{ __SELF__.id }}' style='pointer-events: none;'>{{ __SELF__.searchLabel }}</label></button>
        </form>

    </aside>
{% endif %}

{% if __SELF__.items|length > 0 %}
    {% for item in __SELF__.items %}
        
        <h2>{{ item.name }}</h2>
        <ul>
        {% for faq in item.faqs %}
            <li>

                <details>
                    <summary>{{ faq.question }}</summary>
                    <div>{{ faq.answer | md }}</div>
                </details>
                
            </li>
        {% endfor %}
        </ul>
        
    {% endfor %}
{% endif %}
