{% if __SELF__.isSearch and __SELF__.minSearchResults %}
    <aside class='aic-search'>

        <form>
            <input type='text' id='{{ __SELF__.id }}' name='q' placeholder='{{ __SELF__.searchPlaceholder }}' value='{{ __SELF__.searchQuery }}'>
            <button type='submit'><label for='{{ __SELF__.id }}' style='pointer-events: none;'>{{ __SELF__.searchLabel }}</label></button>
        </form>

    </aside>
{% endif %}

{% if __SELF__.faqsPerCategory|length > 0 %}
    {% for item in __SELF__.faqsPerCategory %}
        
        <div class='aic-category'>

            <h2>{{ item.categoryName }}</h2>

            <ul>
            {% for faq in item.faqs %}
                <li>

                    <details>
                        <summary>{{ faq.question }}</summary>
                        <div>{{ faq.answer | md }}</div>
                    </details>
                    
                </li>
            {% endfor %}
            </ul>

        </div>

    {% endfor %}
{% endif %}

<script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{% for faq in __SELF__.faqs %}{
        "@type": "Question",
        "name": "{{ faq.question }}",
        "acceptedAnswer": {
            "@type": "Answer",
            "text": "<p>{{ faq.answer }}</p>"
        }
    }{{ loop.last ? '' : ', ' }}{% endfor %}]
}</script>
